*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: #0b9eff;
    min-width: 290px;
    min-height: 480px;
    max-width: 400px;
    max-height: 700px;
    border: 3px solid black;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
    padding: 25px;
    grid-gap: 15px;
    flex-grow: 1;
}
.screen {
    background-color: rgb(174, 246, 255);
    grid-column: span 4;
    border-radius: 8px;
    border: 3px solid black;
    font-size: 3rem;
    text-align: right;
    padding: 10px 20px;
    color: #222;
    word-wrap: break-word;
}
.screen .current-operand {
    min-height: 55.2px;
}
.screen .previous-operand {
    font-size: 0.6em;
    color: rgba(0, 0, 0, 0.7);
    min-height: 33.6px;
}
button {
    background-color: rgb(39, 78, 185);
    border: 3px solid black;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 18px 10px;
    outline: none;
    transform: scale(1);
    transition: 50ms;
    cursor: pointer;
}
.small {
    font-size: 1.6rem;
} 
button:focus:hover{
    transform: scale(1.05);
}
.span-two {
    grid-column: span 2;
}
